---
const name = "Plombier David";
const imageUrl = "/plombier-pro-belgique.jpg";
const phoneNumber = "0476/23.23.23";
---

<section class="py-12 md:py-16 md:mx-48 ">
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 justify-center items-center">
      <div class="max-w-xl text-gray-700 space-y-4 text-base md:text-md leading-relaxed">
        <h2 class="text-3xl md:text-4xl font-bold text-left text-blue-800 mb-8">Plombier Professionnel à Votre Service en Belgique</h2>
        <p>
          Bienvenue chez {name}, votre partenaire de confiance pour tous vos besoins en plomberie en Belgique. Notre équipe de plombiers professionnels est disponible 24h/24 et 7j/7 pour répondre à toutes vos urgences de plomberie, débouchage de canalisations et problèmes de chauffage. Que vous soyez confronté à une fuite d'eau soudaine, un WC bouché en pleine nuit ou une panne de chauffage en hiver, notre service d'intervention rapide vous garantit une solution efficace dans les plus brefs délais.
        </p>
        <p>
          Depuis plus de 10 années, nous intervenons dans toutes les régions de Belgique pour offrir des services de plomberie de haute qualité aux tarifs les plus compétitifs. Nos plombiers certifiés disposent de l'expertise et du matériel nécessaires pour diagnostiquer et résoudre rapidement tout problème de plomberie, du plus simple au plus complexe.
        </p>
        <p class="font-semibold text-blue-600">
          N'attendez pas que votre problème de plomberie s'aggrave! Contactez-nous dès maintenant au <a href="tel:+32476232323" class="text-red-500 px-3 hover:underline">{phoneNumber}</a> pour une intervention d'urgence ou pour planifier un rendez-vous avec l'un de nos experts en plomberie.
        </p>
      </div>
      <div class="max-w-4xl">
        <img src={imageUrl} alt="Service de Plomberie en Belgique - Plombier David" class="rounded-3xl shadow-md" />
      </div>
    </div>
  </div>
</section>
